.blogimg{
    width: 100%;
    height: 50rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: .8rem solid #ffb400;
    position: relative;
    background-attachment: fixed;
}
.blogimg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    background-color: rgba(0,0,0,0.7);
}